In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Read in the data.

In [12]:
# Read in data, check shape, and calculate descriptive statistics.
fred = pd.read_csv('data/newFred.csv')
print('Size of FRED data:', fred.shape)
descriptor = fred.describe()
descriptor.iloc[:, :10]

Size of FRED data: (1231, 59)

,AWHMAN,AWOTMAN,BUSLOANS,CE16OV,CES0600000007,CES1021000001,CLF16OV,CMRMTSPL,CUMFNS,DMANEMP
count,991.000000,787.000000,895.000000,883.000000,895.000000,763.00000,883.000000,6.540000e+02,883.000000,991.000000
mean,40.787588,3.675222,636.723324,105260.275198,40.222905,678.27287,111866.714609,9.068975e+05,79.846052,9432.624622
std,1.195234,0.768915,679.350352,32506.638316,0.658892,134.53804,34790.914941,3.536511e+05,5.324303,1558.865550
min,37.000000,1.800000,11.289400,57172.000000,37.200000,498.00000,59972.000000,3.834430e+05,60.814200,4380.000000
25%,40.200000,3.100000,65.933750,72642.500000,39.800000,596.65000,75547.000000,5.819171e+05,75.951950,8151.500000
50%,40.700000,3.700000,437.837400,105638.000000,40.200000,642.50000,114019.000000,8.391102e+05,79.666300,9563.000000
75%,41.300000,4.300000,986.872800,137513.000000,40.700000,721.90000,146061.000000,1.233719e+06,83.504100,10791.000000
max,45.700000,5.300000,3039.906200,158735.000000,41.700000,1177.40000,164579.000000,1.591781e+06,91.693700,12320.000000

In [13]:
descriptor.iloc[:, 10:20]

,DPCERA3M086SBEA,DTCOLNVHFNM,DTCTHFNM,HOUST,HOUSTMW,HOUSTNE,HOUSTS,HOUSTW,INDPRO,IPB51222S
count,751.000000,942.000000,942.000000,751.000000,751.000000,751.000000,751.000000,751.000000,1231.000000,811.000000
mean,60.612336,96002.951815,258662.855318,1430.295606,278.555260,172.316911,634.182423,345.249001,44.469206,68.250589
std,31.638404,114858.538177,312944.294453,388.483661,99.179699,68.072379,180.563223,110.766929,34.028088,29.447566
min,17.272000,158.000000,728.000000,478.000000,59.000000,36.000000,230.000000,79.000000,3.701400,12.647800
25%,32.352000,7697.750000,16703.250000,1193.000000,205.500000,123.500000,509.500000,270.500000,13.603300,46.936900
50%,54.252000,40174.500000,73400.440000,1455.000000,286.000000,158.000000,618.000000,347.000000,38.047200,69.259800
75%,92.401000,190872.945000,556937.447500,1650.000000,347.000000,221.000000,755.500000,421.000000,73.016100,96.427750
max,123.891000,367397.570000,896985.060000,2494.000000,590.000000,395.000000,1187.000000,645.000000,104.165900,117.724400

In [14]:
descriptor.iloc[:, 20:30]

,IPBUSEQ,IPCONGD,IPDCONGD,IPDMAT,IPFINAL,IPFPNSS,IPFUELS,IPMANSICS,IPMAT,IPNCONGD
count,895.000000,991.000000,895.000000,895.000000,991.000000,991.000000,811.000000,1231.000000,991.000000,895.000000
mean,44.467773,63.943163,56.010472,44.058445,56.241859,57.338441,64.617655,44.402628,49.900746,74.819860
std,34.623378,31.816890,30.914265,32.902544,32.911313,32.974542,19.667493,34.854826,30.418317,27.801291
min,4.714600,11.770800,11.925800,5.611300,7.309100,7.695600,28.015400,3.589000,6.089500,23.333900
25%,12.995050,32.533700,30.626050,18.878150,23.140800,24.235400,51.020050,13.202500,20.672100,49.994700
50%,32.560400,65.432300,49.317700,29.031200,53.435000,54.685900,64.532700,36.046200,44.800400,79.430600
75%,80.404050,97.955400,86.590150,77.737350,94.592150,96.040650,77.657900,74.032150,81.515050,100.468350
max,105.203700,111.295700,107.784700,105.024600,108.580800,110.068300,101.779200,108.501800,106.137600,113.729100

In [15]:
descriptor.iloc[:, 30:40]

,IPNMAT,M1SL,M2REAL,M2SL,MANEMP,PAYEMS,REALLN,RPI,SRVPRD,UEMP15OV
count,811.000000,751.000000,751.000000,751.000000,991.000000,991.000000,895.000000,751.000000,991.000000,883.000000
mean,81.766939,1384.010652,2760.695606,4568.435553,15556.027245,90077.711403,1195.458440,8561.801019,69319.629667,2222.378256
std,27.177788,2555.782332,1399.573788,4560.374994,2336.479298,36839.474846,1505.657411,4397.444144,35525.905110,1844.660486
min,22.933200,138.900000,987.900000,286.600000,9077.000000,29923.000000,6.796000,2442.158000,18825.000000,168.000000
25%,62.172700,270.550000,1835.800000,886.000000,14028.000000,53553.500000,46.220400,4788.852000,34331.500000,953.000000
50%,92.551200,804.200000,2391.400000,3200.600000,15832.000000,89789.000000,346.178900,7717.737000,66142.000000,1836.000000
75%,101.763000,1371.400000,3365.350000,6666.750000,17503.000000,130214.000000,1995.207900,12389.173500,107874.000000,2789.500000
max,115.989300,19402.000000,7586.200000,20534.600000,19553.000000,152523.000000,4684.952700,21267.506000,131386.000000,9130.000000

In [16]:
descriptor.iloc[:, 40:50]

,UEMP15T26,UEMP27OV,UEMP5TO14,UEMPLT5,UEMPMEAN,UNRATE,USCONS,USFIRE,USGOOD,USGOVT
count,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,991.000000,991.000000,991.000000,991.000000
mean,939.089468,1283.279728,1938.524349,2446.391846,16.225368,5.768177,4412.204844,4982.976791,20758.081736,14669.237134
std,615.647308,1326.265147,963.451639,813.173313,7.222971,1.700392,1800.390828,2548.458580,2791.392129,6185.450711
min,96.000000,48.000000,394.000000,973.000000,6.100000,2.500000,1036.000000,1370.000000,11098.000000,3988.000000
25%,519.000000,430.500000,1226.500000,1738.000000,11.700000,4.500000,2994.500000,2467.000000,18810.000000,8210.000000
50%,879.000000,928.000000,2011.000000,2546.000000,14.400000,5.600000,4248.000000,4993.000000,21491.000000,16004.000000
75%,1203.000000,1576.000000,2453.500000,2935.500000,18.050000,6.800000,5793.000000,7721.500000,23055.500000,20877.000000
max,6536.000000,6800.000000,14804.000000,14282.000000,40.700000,14.800000,7726.000000,8875.000000,25163.000000,22996.000000

In [17]:
descriptor.iloc[:, 50:]

,USTRADE,USWTRADE,W875RX1,WPSFD49207,WPSFD49502,WPSID61,WPSID62,ISRATIO
count,991.000000,991.000000,751.000000,892.000000,892.000000,892.000000,892.000000,354.000000
mean,9963.310494,4077.079112,7332.305859,99.608520,101.865022,96.872982,99.572646,1.372514
std,4415.117639,1485.602903,3504.633702,60.948206,64.190819,61.260277,67.898572,0.081662
min,3107.800000,1463.400000,2293.200000,26.000000,28.300000,23.000000,29.000000,1.240000
25%,5486.700000,2642.450000,4277.200000,34.475000,34.650000,31.375000,33.500000,1.292500
50%,10238.500000,4490.400000,6761.400000,102.850000,101.550000,100.250000,95.900000,1.380000
75%,14643.650000,5561.950000,10480.350000,141.925000,143.275000,131.875000,132.025000,1.430000
max,15920.000000,5969.700000,14225.600000,221.000000,235.400000,234.100000,303.400000,1.730000

It is obvious to note that there are missing values present in the data. This is mostly due to not having data reach back to the year 1919 for most features present in the FRED data pull, as demonstrated below.

In [19]:
fred.head()

,DATE,AWHMAN,AWOTMAN,BUSLOANS,CE16OV,CES0600000007,CES1021000001,CLF16OV,CMRMTSPL,CUMFNS,...,USGOOD,USGOVT,USTRADE,USWTRADE,W875RX1,WPSFD49207,WPSFD49502,WPSID61,WPSID62,ISRATIO
0,1919-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1919-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1919-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1919-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1919-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
type(fred.DATE.values[0])

str

In [23]:
fred.columns

Index(['DATE', 'AWHMAN', 'AWOTMAN', 'BUSLOANS', 'CE16OV', 'CES0600000007',
       'CES1021000001', 'CLF16OV', 'CMRMTSPL', 'CUMFNS', 'DMANEMP',
       'DPCERA3M086SBEA', 'DTCOLNVHFNM', 'DTCTHFNM', 'HOUST', 'HOUSTMW',
       'HOUSTNE', 'HOUSTS', 'HOUSTW', 'INDPRO', 'IPB51222S', 'IPBUSEQ',
       'IPCONGD', 'IPDCONGD', 'IPDMAT', 'IPFINAL', 'IPFPNSS', 'IPFUELS',
       'IPMANSICS', 'IPMAT', 'IPNCONGD', 'IPNMAT', 'M1SL', 'M2REAL', 'M2SL',
       'MANEMP', 'PAYEMS', 'REALLN', 'RPI', 'SRVPRD', 'UEMP15OV', 'UEMP15T26',
       'UEMP27OV', 'UEMP5TO14', 'UEMPLT5', 'UEMPMEAN', 'UNRATE', 'USCONS',
       'USFIRE', 'USGOOD', 'USGOVT', 'USTRADE', 'USWTRADE', 'W875RX1',
       'WPSFD49207', 'WPSFD49502', 'WPSID61', 'WPSID62', 'ISRATIO'],
      dtype='object')

In [24]:
fred['AWHMAN'].first_valid_index()

240

In [27]:
fred['AWHMAN'].values[240]

37.1

In [29]:
fred.iloc[:10, :]

,DATE,AWHMAN,AWOTMAN,BUSLOANS,CE16OV,CES0600000007,CES1021000001,CLF16OV,CMRMTSPL,CUMFNS,...,USGOOD,USGOVT,USTRADE,USWTRADE,W875RX1,WPSFD49207,WPSFD49502,WPSID61,WPSID62,ISRATIO
0,1919-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1919-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1919-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1919-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1919-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1919-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1919-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1919-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1919-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1919-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN